<div class="container">

  <h3>Editar usuario</h3>
  <hr/>

  <%= render "devise/shared/error_messages", resource: resource %>

  <h4>Cambiar correo</h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <div class="input-group">
            <%= f.email_field :email, autofocus: true, :placeholder => 'Nuevo email', :class => 'form-control devise-form-field' %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="devise-text-pleasant">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Esperando confirmación para el correo: <%= resource.unconfirmed_email %>
          </div>
        <% end %>

        <div class="form-group">
          <div class="input-group">
            <%= f.password_field :current_password, :placeholder => 'Contraseña actual', :class => 'form-control devise-form-field' %>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-toolbar">
      <div class="actions">
        <%= f.submit "Actualizar", :class => 'btn btn-primary btn-sm' %>
      </div>
    </div>
  <% end %>

  <br/>

  <h4>Cambiar contraseña</h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <div class="input-group">
            <% if @minimum_password_length %>
              <%= f.password_field :password, autocomplete: "new-password", :placeholder => "Nueva contraseña (#{@minimum_password_length} caracteres mínimo)", :class => 'form-control devise-form-field' %>
            <% else %>
              <%= f.password_field :password, autocomplete: "new-password", :placeholder => "Nueva contraseña", :class => 'form-control devise-form-field' %>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => 'Confirmar nueva contraseña', :class => 'form-control devise-form-field' %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <%= f.password_field :current_password, autocomplete: "current-password", :placeholder => 'Contraseña actual', :class => 'form-control devise-form-field' %>
          </div>
        </div>

      </div>
    </div>

    <div class="btn-toolbar">
      <div class="actions">
        <%= f.submit "Actualizar", :class => 'btn btn-primary btn-sm' %>
      </div>
    </div>

  <% end %>

  <!--
  <h3>Cancel my account</h3>
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  -->

  <br/>
</div>
