<div class="container">
  <h4>Registrarme</h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <h6>* Tu nombre de usuario es único, y no podrás modificarlo</h6>
          <div class="input-group">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", :placeholder => 'Nombre (3 caracteres mínimo)', :class => 'form-control devise-form-field' %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => 'Email', :class => 'form-control devise-form-field' %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <% if @minimum_password_length %>
              <%= f.password_field :password, autocomplete: "new-password", :placeholder => "Contraseña (#{@minimum_password_length} caracteres mínimo)", :class => 'form-control devise-form-field' %>
            <% else %>
              <%= f.password_field :password, autocomplete: "new-password", :placeholder => 'Contraseña', :class => 'form-control devise-form-field' %>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => 'Confirmar contraseña', :class => 'form-control devise-form-field' %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Registrar", :class => 'btn btn-primary',
                       data: {
                           confirm: "¡ATENCIÓN, revisa bien tus datos! \n\nSi te equivocas de email deberás esperar 10 MINUTOS a que tu confirmación expire para poder intentarlo otra vez con tu nombre de usuario."
                       }
          %>
        </div>

        <br/>
        <%= render "devise/shared/links" %>
        <br/>

      </div>

      <div class="col-md-5 pull-right">
        <div class="card devise-card">
          <div class="card-body">
            <h5 class="card-title"><i style="color: yellow;" class="fa fa-lightbulb-o" aria-hidden="true"></i> Hey!</h5>
            <p class="card-text">¡Te recomendamos utilizar tu nick de <strong>Minecraft</strong> como nombre de usuario en los foros!</p>
            <a class="btn btn-sm btn-warning" href="#why-collapsible" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="why-collapsible">¿Por qué?</a>
            <div class="collapse" id="why-collapsible">
              <br/>
              <ol>
                <li>Será mucho más fácil que la gente te reconozca.</li>
                <li>Hará que tu presencia en los foros sea más limpia y elegante. :o</li>
              </ol>
              <%= image_tag("classy-cat.gif", :alt => "boop", :style => 'border-radius: 3px; width: 100%') %>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>

  <br/>
</div>
