<div class="table-responsive">

  <h4>Recientes <small>Los últimos posts del foro.</small></h4>

  <table class="table table-striped">
    <thead>
    <tr>
      <th width="60%">Título</th>
      <th width="25%">Último post</th>
      <th width="10%"><div align="center">Posts</div></th>
    </tr>
    </thead>
    <tbody>
      <%= thredded_page do %>
        <% @all_topics = [] %>

        <% Thredded::MessageboardGroup.all.each do |group| %>
          <% (group.messageboards.collect {|board| board.topics }).each do |topic_collection| %>
            <% topic_collection.each do |topic| %>
              <% @all_topics.push(topic) %>
            <% end %>
          <% end %>
        <% end %>

        <% @all_topics.sort_by(&:last_post_at).reverse!.each do |topic| %>
          <tr>
            <td>
              <div class="container">
                <div class="row">
                  <div class="col-xs-6">
                    <%= link_to topic.title, "#{Forums::PATH}/#{topic.messageboard.slug}/#{topic.slug}" %>
                    <% if topic.locked? %>
                      <i data-toggle="tooltip" data-placement="top" title="<%= t('thredded.topics.locked.label') %>" class="fa fa-lock" aria-hidden="true"></i>
                    <% end %>
                    <% if topic.sticky? %>
                      <i data-toggle="tooltip" data-placement="top" title="<%= t('thredded.topics.sticky.label') %>" class="fa fa-thumb-tack" aria-hidden="true"></i>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="post-head-preview">
                      <a href="<%= user_path topic.user %>"><img src="<%= Minecraft::Data.head_url_of_uuid(topic.user.uuid) %>"></a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <rem class="poster-preview"><%= user_link topic.user %></rem> ➔&nbsp;
                  </div>
                  <div class="col-xs-6">
                    <%= time_ago(topic.created_at) %> en <%= link_to topic.messageboard.name, "#{Forums::PATH}/#{topic.messageboard.slug}" %>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="container">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="post-head-preview">
                      <a href="<%= user_path topic.last_user %>"><img src="<%= Minecraft::Data.head_url_of_uuid(topic.last_user.uuid) %>"></a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <rem class="poster-preview"><%= user_link topic.last_user %></rem>
                  </div>
                  &nbsp;<%= time_ago topic.last_post_at %>
                </div>
              </div>
            </td>
            <td>
              <div align="center"><%= topic.posts_count %></div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

</div>
