<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th width="60%">Título</th>
      <th width="25%">Último post</th>
      <th width="10%"><div align="center">Posts</div></th>
    </tr>
    </thead>
    <tbody>
      <%= thredded_page do %>
        <% @all_topics = [] %>

        <% Thredded::MessageboardGroup.all.each do |group| %>
          <% (group.messageboards.collect {|board| board.topics }).each do |topic_collection| %>
            <% topic_collection.each do |topic| %>
              <% @all_topics.push(topic) %>
            <% end %>
          <% end %>
        <% end %>

        <% @all_topics.sort_by(&:last_post_at).reverse!.each do |topic| %>
          <tr>
            <td>
              <div class="container">
                <div class="row">
                  <div class="col-xs-6">
                    <%= link_to topic.title, "#{Forums::PATH}/#{topic.messageboard.slug}/#{topic.slug}" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="post-head-preview">
                      <a href="<%= user_path topic.user %>"><img src="<%= Minecraft::Data.head_url_of_uuid(topic.user.uuid) %>"></a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <%= link_to topic.user.name, user_path(topic.user), :class => 'poster-preview' %> ➔&nbsp;
                  </div>
                  <div class="col-xs-6">
                    <%= time_ago(topic.created_at) %> en <%= link_to topic.messageboard.name,  "#{Forums::PATH}/#{topic.messageboard.slug}" %>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="container">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="post-head-preview">
                      <a href="<%= user_path topic.user %>"><img src="<%= Minecraft::Data.head_url_of_uuid(topic.last_user.uuid) %>"></a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <%= link_to topic.last_user.name, user_path(topic.last_user), :class => 'poster-preview' %>
                  </div>
                  &nbsp;<%= time_ago topic.last_post_at %>
                </div>
              </div>
            </td>
            <td>
              <div align="center"><%= topic.posts_count %></div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

</div>
