<div class="row">
  <% @servers.each do |server| %>
    <div class="col-xl-4 col-lg-4 col-md-4">
      <div class="server-card">
        <div class="card box-shadow <%= server.online? ? "online" : "" %>">
          <%= image_tag(server.family + ".png", :class => "card-img-top server-image") %>
          <div class="card-body">
            <p class="card-text server-name"><%= server.name %> <small class="server-command float-right">Online: <%= server.online_users %>/250</small></p>
            <small class="server-version"><%= server.version %></small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
