<div class="container">
  <h2>
    Estadísticas
    <small style="font-size: 70%;">
      Ordenadas por:
      <!-- Due to a weird behaviour when using css, this styles declaration for <select/>
       remains beneath, along with the usual evasion of <label/> due to the misplacement of elements
       -->
      <select style="border-color: gray; color: #bdbdbd; background-color: #212121; display: inline-block; width: 10%; cursor: pointer;"
              id="sorter" class="form-control boop">
        <% @sorts.each do |key, label| %>
          <% if params[:sort].eql?(key.to_s) %>
            <option selected="selected" label="<%= label %>" value="<%= full_url_for :sort => key %>"><%= label %></option>
          <% else %>
            <option label="<%= label %>" value="<%= full_url_for :sort => key %>"><%= label %></option>
          <% end %>
        <% end %>
      </select>
    </small>

  </h2>

  <hr/>
  <br/>

  <div class="table-responsive">
    <%= paginate @players %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Kills</th>
          <th>Deaths</th>
          <th>KD Ratio</th>
          <th>KK Ratio</th>
          <th width="40%">Usuario</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'pgm_players/stats_body'%>
      </tbody>
    </table>
    <%= paginate @players %>
  </div>

  <br/>
  <hr/>
</div>

<script type="text/javascript">
  var select = document.getElementById('sorter');

  select.onchange = function () {
      var option = this.options[this.selectedIndex];
      window.location.replace(option.value)
  }
</script>
