<div class="table-responsive">

  <%= paginate @pgm_records %>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th width="5%">#</th>
      <th width="13%">Kills</th>
      <th width="13%">Deaths</th>
      <th width="10%">KD Ratio</th>
      <th width="10%">KK Ratio</th>
      <th width="7%">Wools</th>
      <th width="7%">Monuments</th>
      <th width="7%">Cores</th>
      <th width="30%">Usuario</th>
    </tr>
    </thead>
    <tbody>
      <% @pgm_records.each do |record| %>
        <% @count += 1 %>

        <tr>
          <td><%= @count - 1 %></td>
          <td><%= record.kills %></td>
          <td><%= record.deaths %></td>

          <% if record.deaths == 0 %>
            <td><%= record.kills %>.000</td>
          <% else %>
            <td><%= number_with_precision(record.kd, :precision => 3) %></td>
          <% end %>

          <% if record.killed == 0 %>
            <td><%= record.kills %>.000</td>
          <% else %>
            <td><%= number_with_precision(record.kk, :precision => 3) %></td>
          <% end %>

          <td><%= record.wools %></td>
          <td><%= record.monuments %></td>
          <td><%= record.cores %></td>

          <td style="color: <%= username_color_of_uuid(record.uuid) %>"><img class="stats-head-entry" src="<%= Minecraft::Data.head_url_of_uuid(record.uuid) %>" alt=""> <%= record.nick %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @pgm_records %>

</div>
