<div class="container">

  <section>
    <div class="page-header">
      <h2>
        Towns
        <small> Todas las ciudades del servidor  <i class="fa fa-home" aria-hidden="true"></i></small>
      </h2>
    </div>

    <hr/>
    <br/>

  </section>

  <div class="container">
    <div class="row">
      <% @towns.each do |town| %>
        <div class="col-md-4">
          <div class="card bg-dark">
            <%= image_tag("towny_background.png", class: "card-img-top") %>
            <h5 class="card-header">
              <a class="collapsed d-block" data-toggle="collapse" href="#<%= TownsHelper.sanitize_string(town.name) %>" aria-expanded="true" aria-controls="collapse-collapsed" id="heading-collapsed">
                <i class="fa fa-chevron-down pull-right"></i>
                <%= town.name %>
              </a>
            </h5>
            <div id="<%= TownsHelper.sanitize_string(town.name) %>" class="collapse" aria-labelledby="heading-collapsed">
              <div class="card-body text-white">
                <hr/>
                <% unless town.nation.eql?('') %>
                  <p><b>Nación: </b>
                    <%= town.nation  %>
                  </p>
                <% end %>
                <% unless town.townBoard.eql?('/town set board [msg]') or town.townBoard.eql?('')%>
                  <p><b>Board: </b>
                    <%=  town.townBoard  %>
                  </p>
                <% end %>
                <p><b>Alcalde: </b>
                  <a data-toggle="tooltip" title="<%= town.mayor %>" data-placement="top">
                    <img class="mayor-entry" src="<%= Minecraft::Data.head_url_of_username(town.mayor) %>" alt="">
                  </a>
                </p>
                <hr/>
                <p><b>Residentes: (<%= town.residents.split('#').size %>)</b>
                </p>
                <div class="row">
                  <% town.residents.split('#') do |resident| %>
                    <div class="col-md-1 col-sm-6 resident-entry">
                      <a data-toggle="tooltip" title="<%= resident %>" data-placement="top">
                        <img src="<%= Minecraft::Data.head_url_of_username(resident) %>" alt="">
                      </a>
                    </div>
                  <% end %>
                </div>
                <hr/>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
