<div class="container">
  <hr/>

  <footer>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <h5>Políticas</h5>
        <ul class="list-unstyled list-group">
          <li><a href="<%= privacy_path %>" class="list-group-item list-group-item-action">Política de Privacidad</a></li>
          <li><a href="<%= tos_path %>" class="list-group-item list-group-item-action">Términos de Servicio</a></li>
          <li><a href="<%= rules_path %>" class="list-group-item list-group-item-action">Reglas</a></li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <h5>Moderación</h5>
        <ul class="list-unstyled list-group">
          <li><a href="<%= staff_path %>" class="list-group-item list-group-item-action">Staff</a></li>
          <li><a href="<%= contact_path %>" class="list-group-item list-group-item-action">Contacto</a></li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <h5>Información</h5>
        <ul class="list-unstyled list-group">
          <li><a href="<%= pgm_path %>" class="list-group-item list-group-item-action">Project Ares</a></li>
          <li><a href="<%= gallery_path %>" class="list-group-item list-group-item-action">Galería</a></li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <h5>Involúcrate</h5>
        <ul class="list-unstyled list-group">
          <li><a href="https://discord.gg/92V9E8T" target="_blank" class="list-group-item list-group-item-action"><i class="fab fa-discord"></i> Unicraft Network</a></li>
          <li><a href="https://discord.gg/SAC4NJW" target="_blank" class="list-group-item list-group-item-action"><i class="fab fa-discord"></i> UdeC eSports</a></li>
          <li><a href="https://github.com/ElMedievo-UdeC" target="_blank" class="list-group-item list-group-item-action"><i class="fab fa-github"></i> GitHub</a></li>
          <li><a href="https://www.instagram.com/teamudecesports/" target="_blank" class="list-group-item list-group-item-action"><i class="fab fa-instagram" aria-hidden="true"></i> Instagram</a></li>
        </ul>
      </div>
    </div>

    <hr/>

    <strong>&copy; <%= ORG::NAME %> <%= Time.now.year %></strong>
  </footer>
</div>
