<div class="sidebar hidden-xs">
  <ul class="navbar-nav nav-pills nav-stacked sidebar-nav-pills">
    <li><h4>Nuevo</h4></li>
    <li class="sidebar-item <%= request.path.eql?("#{Forums::PATH}/") ? 'sidebar-active-item' : 'sidebar-inactive-item' %>"><a href="/forums">Recientes</a></li>

    <% Thredded::MessageboardGroup.all.each do |group| %>
      <% next if group.messageboards.empty? %>

      <% if group.name.present? and Thredded.show_messageboard_group_page %>
        <li><h4><%= group.name %></h4></li>
        <% group.messageboards.each do |messageboard| %>
          <% @category_path = "#{Forums::PATH}/#{messageboard.slug}" %>
          <li class="sidebar-item <%= request.path.start_with?(@category_path) ? 'sidebar-active-item' : 'sidebar-inactive-item' %>"><%= link_to messageboard.name, @category_path %></li>
        <% end %>
        <div class="sidebar-group-flash"></div>
      <% end %>
    <% end %>
  </ul>
</div>

<%= Thredded::ApplicationController.renderer.new(request.env.slice('warden'))
    .render(partial: 'thredded/shared/currently_online')
%>

<br/>

<a style="margin-bottom: 15px" class="btn btn-sm btn-warning" data-toggle="collapse" href="#discordCollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
  <i class="fab fa-discord"></i> Discord
</a>

<div class="collapse" id="discordCollapse">
  <div class="table-responsive">
    <iframe src="https://discordapp.com/widget?id=658401734510772251&theme=dark" width="250" height="500" allowtransparency="true" frameborder="0"></iframe>
  </div>
</div>
