<nav class="navbar navbar-expand-lg navbar-dark nav-bg ">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag("logo.png", :alt => "logo", style: "width: 40px; height: 40px; margin-right: 10px; border-radius: 5px;") %><%= ORG::NAME %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= rules_path %>"><i class="fa fa-bookmark" aria-hidden="true"></i> Reglas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= staff_path %>"><i class="fa fa-user-md" aria-hidden="true"></i> Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery"><i class="fa fa-camera" aria-hidden="true"></i> Galería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= towns_path %>"><i class="fa fa-home" aria-hidden="true"></i> Towns</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cubes" aria-hidden="true"></i> Project Ares</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="<%= pgm_path %>"><i class="fa fa-book" aria-hidden="true"></i> Información</a>
            <a class="dropdown-item" href="<%= stats_path %>"><i class="fa fa-chart-bar" aria-hidden="true"></i> Stats</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://udecesports.buycraft.net/" data-target="#" target="_blank"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Tienda</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
    $('.dropdown-toggle').dropdown();
</script>
