<style>
  .jumbotron {
    background-image: url('<%= image_url('splash.png') %>');
    background-position: center;
    height: 500px;
    margin-bottom: 0 !important;
  }
</style>

<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><%= ORG::NAME %></h1>
      <div class="sub-display-3">
        <p>El hogar de Concepción y sus Universidades</p>
      </div>
      <a class="btn btn-success btn-lg ip">
        <!-- No label was used to avoid button's misplacement -->
        <input onClick="this.select();" readonly="<%= true %>" type="text" value="play.<%= ORG::DOMAIN %>"/>
      </a>
    </div>
  </div>
  <div style="background-color: #212121; width: auto; height: 60px;">
  </div>
  <div class="container">
    <br/>
    <br/>
    <%= render :partial => 'alerts' %>
    <div class="site-description">
      <div class="row">
        <div class="col-md-6">
          <br/>
          <h2><%= ORG::NAME %></h2>
          <p class="description-paragraph">¡El servidor de Mincraft en donde se están recreando varias universidades de Concepción! Además, encontrarás modalidades como Project Ares, Anarchy, Towny, y SkyBlock para jugar con tus amigos y pasar un buen rato.</p>
        </div>
        <div style="margin-top: 20px;" class="col-md-3 offset-2">
          <div class="logo-large">
            <%= image_tag("logo.png", :alt => "logo") %>
          </div>
        </div>
      </div>

      <br/>
      <br/>
      <br/>
      <hr/>
      <br/>

      <div class="row front-page-gamemodes">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <h4>Project Ares</h4>
          <hr/>
          <p>
            Las modalidades del legendario servidor de
            <a href="https://oc.tc/" target="_blank">Overcast Network</a> (Actualmente
            <a href="https://oc.tc/announcement/2020/02/07/Hello-Overcast.html" target="_blank">
              OCC</a>),
            al fin con estadísticas y perfiles! Minecraft PvP, <b>versión 1.8</b>
          </p>
          <%= link_to 'Stats »', stats_path, :class => 'btn btn-primary' %>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <h4>Towny</h4>
          <hr/>
          <p>
            Las modalidades del legendario servidor de
            <a href="https://oc.tc/" target="_blank">Overcast Network</a> (Actualmente
            <a href="https://oc.tc/announcement/2020/02/07/Hello-Overcast.html" target="_blank">
              OCC</a>),
            al fin con estadísticas y perfiles! Minecraft PvP, <b>versión 1.8</b>
          </p>
          <%= link_to 'Stats »', stats_path, :class => 'btn btn-primary' %>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>

    <br/>

  </div>
</main>
